{% extends "blog/amsterdam/ams-base.html" %}

{% block main_blog_body %}
    <h1>Contribute to this website!</h1>
    <br>
    <p>Do you feel like you know Amsterdam better than I do? Do you want to share an amazing photo or a hilarious story? <a href="/contact/" class="link-anywhere">Reach out to me</a> and I'll gladly post it while giving you the full credit.</p>
    <p>And then you can go around showing people your article online. Make your mama proud.</p>
    <p>Cheers.</p>
{% endblock main_blog_body %}
