{% extends "base.html" %}
{% block main_head %}
    <title>Amsterdam's Coolest & Best: The Map</title>
{% endblock main_head %}

{% block main_content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/ams-map.css' %}">
    <div class="container-fluid" id="ams-map-container">
        <div class="row mx-auto my-2">
            <h3 id="ams-map-title-div">Best of Amsterdam: The Map</h3>
        </div>
        <div class="row my-3 mx-auto p-0" style="height: 70vh; max-width: 90vw">
            <iframe class="ams-map" src="https://www.google.com/maps/d/u/0/embed?mid=190BDw4I_F7HRjIngm5zA5xH_nR10u5wX"></iframe>
        </div>
        <div class="row">
            <div id="accordion" class="mx-auto my-2">
                <div class="card">
                    <div class="card-header text-center" id="ams-headingOne">
                          <button id="ams-map-contr" class="btn btn-link py-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Know a cool place that's not on this map?
                          </button>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <form class="justify-content-center">
                            <p class="mx-auto p-2 text-center">
                                Send me a suggestion so I can add it. Totally anonymous!
                            </p>
                                <div class="input-group mb-3 w-100">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="ams-map-inputGroup-sizing-default">What</span>
                                    </div>
                                    <input type="text" class="form-control">
                                </div>
                            <div class="input-group mb-3 w-100">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="ams-map-inputGroup-sizing-default">Where</span>
                                </div>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mx-auto text-center mb-3">
                                <button type="submit" id="ams-map-send-suggestion" class="btn btn-primary">Here you go</button>
                            </div>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {% endblock main_content %}