{% extends "blog/amsterdam/ams-base.html" %}
{% block main_head %}
    <title>Amsterdam Guide</title>
{% endblock main_head %}

{% block main_blog_body %}
    <div class="container-flex p-0 m-0">
        <h1>Cool Stuff about Amsterdam</h1>
        <p style="text-align: justify">So there will be a lot of stuff here, right? Let's try to text this up as a placeholder.
        <br>Amsterdam is the Netherlands’ capital, known for its artistic heritage, elaborate canal system and narrow
            houses with gabled facades, legacies of the city’s 17th-century Golden Age. Its Museum District houses the
            Van Gogh Museum, works by Rembrandt and Vermeer at the Rijksmuseum, and modern art at the Stedelijk.
            Cycling is key to the city’s character, and there are numerous bike paths.</p>
    </div>
{% endblock main_blog_body %}