{% extends "blog/amsterdam/ams-base.html" %}
{% block main_head %}
    <title>Amsterdam Guide</title>
{% endblock main_head %}

{% block main_blog_body %}
    <div class="container-flex m-0 p-0">
        <h1>Amsterdam Survival Guide</h1>
        <p class="mt-3">This part is under construction. </p>
        {% load static %}
        <img src="{% static 'blog/ams/keukenhof_beauty.jpg' %}" alt="Keukenhof picture" style="height: 600px; width: auto;" class="mx-auto my-3 text-center">
        <p class="text-justify">And some placeholder text for now.<br>
        <br>From its earliest days, Amsterdam has been a bustling hub of commerce that welcomed other cultures with
            open arms. Learn more about this lovely canal-side city, including the rich history and development of
            its tolerant society. From its humble beginnings as a 13th-century fishing village on a river bed to its current role as a major
            hub for business, tourism and culture, Amsterdam has had a strong tradition as a centre of culture and commerce.
        </p>
        <p class="my-3">
            <i>Taken from the <a href="https://www.iamsterdam.com/en/">I amsterdam website.</a></i>
        </p>
    </div>
{% endblock main_blog_body %}