{% extends "blog/amsterdam/ams-base.html" %}
{% block main_head %}
    <title>Amsterdam Guide</title>
{% endblock main_head %}

{% block main_blog_body %}
    <div class="container-flex m-0 p-0">
        <h1>Amsterdam Survival Guide</h1>
        {% load static %}
        <img src="{% static 'blog/ams/keukenhof_beauty.jpg' %}" alt="Keukenhof picture" style="height: 500px; width: auto; " class="float-right mx-4 my-3">
        <p class="mt-5 mb-2 text-justify">This part is under construction. </p>
        <p class="text-justify">Let me just quickly add some placeholder text for now.
            You know, just so people are not weirded out by a huge empty page. But, I mean, I'm the only one working on
            this website, so you can guess how much time I have to put into this. Anyway, here's the test text.
        </p>
        <p class="text-justify">
            From its earliest days, Amsterdam has been a bustling hub of commerce that welcomed other cultures with
            open arms. Learn more about this lovely canal-side city, including the rich history and development of
            its tolerant society. From its humble beginnings as a 13th-century fishing village on a river bed to its current role as a major
            hub for business, tourism and culture, Amsterdam has had a strong tradition as a centre of culture and commerce.
        </p>
        <p class="my-3">
            <i>Taken from the <a href="https://www.iamsterdam.com/en/">I amsterdam website.</a></i>
        </p>
        <p class="text-justify my-3">
            In the meantime, you are more than welcome to check out <a href="/amsterdam/quick-facts-about-Amsterdam">a collection
            of cool quick facts</a> about Amsterdam and the Netherlands. Guaranteed to make you say "Hm" in a slightly
            amused voice.
        </p>
    </div>
{% endblock main_blog_body %}