{% extends "blog/amsterdam/ams-base.html" %}
{% block main_head %}
    <title>Amsterdam Guide</title>
{% endblock main_head %}

{% block main_blog_body %}
    <div class="container-flex m-0 p-0">
        <h1>Amsterdam Survival Guide</h1>
        {% load static %}
        <img src="{% static 'blog/ams/keukenhof_beauty.jpg' %}" alt="Keukenhof picture" id="keukenhofimage">
        <p class="mt-4">
            Are you ready?
        </p>
        <p class="text-justify">
            This guide is here to help you avoid making silly touristy mistakes when you decide to visit
            Amsterdam. Where do I go to enjoy the Dutch cuisine? How do I get to the city center from the airport? What
            are the top spots to grab a few beers around the city? These questions will be covered here. If you didn't
            find what you're looking for, don't hesitate to <a href="/contact/">contact me</a> so I can add more content
            on this website. Let's begin!
        </p>
        <h4 class="my-3">
            So how do I get there?
        </h4>
        <p class="text-justify">
            Getting to Amsterdam is easy - the city itself is quite small and the public transportation system is spot on.
            When you say "get to Amsterdam", it's implied that you need to get to Amsterdam Centraal (also called
            "Amsterdam CS" sometimes), the train station in the heart of the city. There are basically a few options of how
            to get there:
        </p>
        <ul class="my-3">
            <li>Plane. There are actually six international airports in the Netherlands, however, 95% of air traffic
            comes from either Amsterdam Airport Schiphol (AMS) or the Eindhoven Airport (EIN). Getting to Amsterdam Centraal
            from Schiphol is super easy - you can either take an airport shuttle bus (€6,50 - departs every 10 minutes and
            takes about 25 minutes), a taxi (~ €30 on average for a 20-minute ride) or a train (€4,30 for a 15-minute ride
            - by far, the fastest/cheapest option).</li>
            <li>Train. Most of the trains go directly to Amsterdam Centraal.</li>
            <li>Bus. The usual European bus companies like <a href="https://global.flixbus.com/">FlixBus</a> mostly arrive
            at the Amsterdam Sloterdijk station. From there, you can either take a train (runs every 10 minutes, takes
            less than 5 to reach CS) or hop in the metro station (takes about 25 minutes as it goes all the way around
            the city).</li>
            <li>Car. The big issue here is parking. <a href="https://www.iamsterdam.com/en/plan-your-trip/getting-around/parking/park-and-ride">
            P+R</a> car park is a great option for a short stay (96 hours or less). Otherwise, you'd need to google
            something else.
            </li>
        </ul>
        <p>
            Once you're in the city centre, it's time to do something really fun!
        </p>
        <h4 class="my-3">
            Where do I even stay?
        </h4>
        <p>
            Airbnb is the go-to. Prices are pretty insane, that's for sure. Off-season, a super-small apartment outside
            the city centre would cost you around €80 a night. Staying in the city centre during, say, Christmas season
            or King's day can easily cost you around €250 a night! It is insanity, yes, we're fully aware. Oh, by the way,
            in case you've never used Airbnb before, here's <a href="https://www.airbnb.com/c/jackm3509?currency=EUR">
            an invite link from me</a> - use it to get €20 off your first trip.
        </p>
        <p>
            Pretty much the same can be said about hotels. Not only is the availability limited, the quality of service
            also sucks. Tiny rooms with no windows you can hear your neighbours whisper in for €189 a night are a sad
            reality we live in.
        </p>
        <p>
            Other than that, I suggest you look through Facebook and try to find a short-stay room there - sometimes you
            get lucky and see a student leave the city for a week to go home or an expat willing to let others in to
            not be as sad about having his €1'800 rent go to waste while he's on vacation. Be careful though, as these
            groups are filled to the brim with scammers - never send a payment in advance!
        </p>
        <h4 class="my-3">
            What are the DOs and DON'Ts about Amsterdam?
        </h4>
        <p class="mb-5">
            You'll find that out as soon as I finish writing this.
        </p>
    </div>
{% endblock main_blog_body %}