{% extends "blog/amsterdam/ams-base.html" %}
{% block main_head %}
    <title>Amsterdam: Guide, Places and Cool Stuff</title>
{% endblock main_head %}

{% block main_blog_body %}
    <div class="container-flex p-0 m-0">
        <h1>Amsterdam: City of Adventure</h1>
        <p style="text-align: justify; margin-top: 1rem;">Oh, Amsterdam! A city of sin, a city of freedom. <br>When you
            first come here, it's pretty easy to get lost. An unknown language (despite the fact that everyone speaks
            English), an environment you're not familiar with, thousands of drunk Brits and a bunch of Chinese
            tourists can all amount to a pretty 'meh' experience. However, don't be discouraged - the city itself is
            amazing, there's plenty of stuff to see and a lot of things to do.<br><br>Besides, it's the XXI century and
            it seems like you made it to my website (somehow), so you are definitely in for a good time! Amsterdam has a
            lot to offer regardless of what you initially came for. True, the weather is usually pretty bad, there is no
            "local" cuisine you would genuinely want to come back to and the locals can be seen as pretty weird or straight
            up offensive... However, none of this should stop you from having an amazing time! Be aware, however,
            that it's also pretty easy to have a mediocre time here! If you only stick to Red Lights District, eat at
            shitty breakfast places with eggs that cost €12 and drink Heineken after going to Bulldog... It's not going
            to be an amazing vacation, let's put it this way. <br><br>Which is exactly why I created this website.
            Amsterdam is a breath-taking place and it deserves to be enjoyed properly. And here is how I'm going to
            help you with this:
        </p>
        <ul>
        <li><a href="/amsterdam/guide">Amsterdam Survival Guide: How to & What not to</a></li>
        <li><a href="/amsterdam/map">Interactive (kinda) map of Amsterdam's best places</a></li>
        <li><a href="/amsterdam/stuff">Other fun and exciting stuff to do in Amsterdam</a></li>
        <li><a href="/amsterdam/quick-facts-about-Amsterdam">A collection of cool trivia about the country</a></li>
        </ul>
        <p style="text-align: justify; margin-top: 1rem;">
            This website is very early in the development cycle so expect updates often and
            <a href="https://github.com/ayy-em/somethingreally.fun">fork it on Github!</a>
        </p>
    </div>
{% endblock main_blog_body %}