{% extends "base.html" %}

{% block main_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/gradient.css' %}">
    <meta name="title" content="bunq: Bank of The Free">
    <meta name="description" content="Help bunq revolutionize the banking industry and enjoy Europe's best bank! It only takes 5 minutes.">
    <meta property="og:image" content="https://together.bunq.com/public/attachments/4479669e0a509b26a4d22c98e2972c51.png">
    <meta property="twitter:image" content="https://together.bunq.com/public/attachments/4479669e0a509b26a4d22c98e2972c51.png">
    <title>bunq it up!</title>
{% endblock main_head %}

{% block main_content %}
    {% load static %}
    <div class="bg"></div>
    <div class="bg2"></div>
    <div class="bg3"></div>
    <div class="container" id="content-main-container">
        <div class="row h-100" style="font-family: 'Montserrat', sans-serif;">
            <div class="col-8 my-auto mx-auto text-center h-100" id="bunqcol">
                <div class="row h-100 mx-auto">
                    <h1 class="mx-auto mt-auto" id="bunqtitle">
                        Smart & Easy Banking
                    </h1>
                    <p class="mt-3 mb-1">
                        Available in 30+ EU countries and 6 different languages. European Banking Permit means your
                        money is 100% insured by the Dutch Deposit Guarantee Scheme.
                    </p>
                    <ul class="my-0 text-justify">
                        <li id="bunqlist"><strong class="bunqwords">No bullshit fees:</strong> up to 3 cards (debit, maestro and credit) included in subscription,
                            any ATM with no fees, disposable online cards, free bank transfers, Dual PIN, iDEAL, SOFORT -
                            everything you need, available 24/7 at no extra costs.</li>
                        <li id="bunqlist"><strong class="bunqwords" id="bw">Budget and save:</strong> interest on your
                            day-to-day account monthly, Auto-Save, multiple sub-accounts, balance prediction,
                            easy bill splitting and spending insights.</li>
                        <li id="bunqlist"><strong class="bunqwords" id="bwone">Truly international:</strong> accepted everywhere. ZeroFX - never think about currency.
                            Support in 10 different languages. Travel assistant. Amazing community.</li>
                        <li id="bunqlist"><strong class="bunqwords" id="bwtwo">High tech:</strong> neat open API, AI-powered fraud detection, top-notch security.</li>
                    </ul>
                    <p class="my-2 mx-auto">
                        Zero calls, zero paperwork and no branch visits. Ever.<br>
                        Hassle-free banking with cutting edge technology. Just like it should be.<br>
                        <strong class="bunqwords" id="bwtitle">bunq - Bank of The Free</strong>
                    </p>
                </div>
            </div>
            <div class="col-4 my-auto text-center">
                <div class="row">
                    <a href="https://bunq.endtrk.com/PL4CJ3/225JFQ/" class="mb-5 mx-auto" id="bunqtcimage">
                        <img src="{% static 'blog/travelcard_vert.png' %}" alt="bunq" id="bunq-image" style="width: 70%; height: auto">
                    </a>
                </div>
                <div class="row text-center my-4">
                    <a href="https://bunq.endtrk.com/PL4CJ3/225JFQ/?uid=4" class="button4 mx-auto">
                        Join bunq
                    </a>
                </div>
                <!--div class="row h-30">
                    <a href="https://bunq.endtrk.com/PL4CJ3/225JFQ/?uid=4" class="mt-4" id="bunqbannerlink">
                        <img src="{% static 'blog/bunq-botf.png' %}" alt="bunq banner here yo" style="height: auto; width: 100%;">
                    </a>
                </div-->
            </div>
        </div>
    </div>
{% endblock main_content %}


