{% extends "base.html" %}

{% block main_head %}
    {% load static %}
    <title>Contact me</title>
    <meta name="title" content="Contact me, go ahead">
    <meta name="description" content="When an email is just not enough.">
{% endblock main_head %}

{% block main_content %}
    <main role="main" class="container-fluid d-flex">
        <div class="row mx-auto my-auto">
            <div class="col">
                <a href="mailto:em@somethingreally.fun" class="contact-icons"><i class="fas fa-at fa-lg"></i></a>
                <a href="https://github.com/ayy-em" class="contact-icons"><i class="fab fa-github fa-lg"></i></a>
                <a href="https://www.linkedin.com/in/mironove/" class="contact-icons"><i
                        class="fab fa-linkedin fa-lg"></i></a>
                <a href="https://t.me/ayy_yo" class="contact-icons"><i class="fab fa-telegram fa-lg"></i></a>
                <a href="https://twitter.com/gurugamesh" class="contact-icons"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://bunq.me/mironov" class="contact-icons"><i class="fas fa-euro-sign fa-lg"></i></a>
                <a href="https://instagram.com/jm_ams" class="contact-icons"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="https://steamcommunity.com/id/tddell/" class="contact-icons"><i
                        class="fab fa-steam fa-lg"></i></a>
                <a href="https://soundcloud.com/jack-mironov" class="contact-icons"><i
                        class="fab fa-soundcloud fa-lg"></i></a>
            </div>
        </div>
    </main>
{% endblock main_content %}
