{% extends "base.html"%}

{% block main_head %}
    {% load static %}
    <title>Contact me</title>
    <meta name="title" content="Contact me, go ahead">
    <meta name="description" content="When a LinkedIn link is just not enough.">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
{% endblock main_head %}

{% block main_content %}
    <main role="main" class="container-fluid h-100 m-0 p-0" id="contactmebg">
        <div class="row mx-auto" id="contactmemid">
            <div class="mx-auto col-lg-6 col-12 ml-auto" id="contactmetext">
                <h1>Contact me</h1>
                <p class="pt-3">Have an amazing idea? A collaboration in mind? Want to propose something really fun? Feel free to <a href="https://t.me/ayy_yo" class="purple-link">reach out to me on Telegram.</a></p>
                <p>Is it something work-related? Welcome to <a href="https://www.linkedin.com/in/mironove/" class="purple-link">my LinkedIn page</a>. That is, unless you want to sell me something.</p>
                <p>You can also use the buttons in the footer to get in touch via social networks. Or simply <a href="mailto:em@somethingreally.fun" class="purple-link">send me an e-mail.</a></p>
                <p>Ciao!</p>
            </div>
            <div class="col-md-3 d-none d-lg-inline px-0 my-auto mr-auto">
                <div class="container" id="linkedin-badge-div">
                    <div class="LI-profile-badge p-2" data-version="v1" data-size="large" style="border-radius: 0.3rem;" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="mironove"><a class="LI-simple-link" href='https://nl.linkedin.com/in/mironove/en?trk=profile-badge'>Evgeny Mironov</a></div>
                </div>
            </div>
        </div>
    </main>
{% endblock main_content %}
