/* Right Column - START */

#right-blog-column {
    top: -7.45rem;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.content-section {
    border: 1px solid rgba(52,58,64,0.1);
}

#content-border-thing {
    opacity: 0.1;
}

#right-blog-title {
    background: #fafafa;
    padding: 0.3rem;
    border-radius: 0.4rem;
    margin: 0 0 2rem 0;
}

#right-blog-content {
    background: url('../blog-stuff/pattern_black.jpg') repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 45s infinite; /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 45s infinite; /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 45s infinite; /* Opera 12+ */
    animation: bg-scrolling-reverse 45s infinite; /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    overflow: hidden;
    z-index: 2;
    margin-right: 0;
    margin-left: 0;
    border-radius: 5px;
    text-align: center;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: 512px 512px; }
}
@-moz-keyframes bg-scrolling-reverse {
  100% { background-position: 512px 512px; }
}
@-o-keyframes bg-scrolling-reverse {
  100% { background-position: 512px 512px; }
}
@keyframes bg-scrolling-reverse {
  100% { background-position: 512px 512px; }
}

/* Right Column - END */
/* Main (Post collection) - START */

.post-preview {
    margin: 0 0 1rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.post-preview:after {
    border-bottom: 1px solid rgba(148, 0, 211, 0.1);
    content: '';
    display: block;
    width: 85%;
    margin: 1rem auto 2rem;
}

.post-preview:before {
    border-bottom: 1px solid rgba(148, 0, 211, 0.1);
    content: '';
    display: block;
    width: 85%;
    margin: 2rem auto 1rem;
}

#blog-main-bot-span {
    height: 10rem;
    min-height: 5rem;
    width: 100%;
}

/* Main (Post collection) - END */
/* POST STUFF - START */

.blog-main-title {
    margin-bottom: 2rem;
}

h3.post-title {
    color: #343A40;
    transition: color;
    transition-duration: .5s;
}

h3.post-title:hover {
    color: #9400D3;
    text-decoration: none;
    transition: color;
    transition-duration: .5s;
}

p.post-meta {
    font-style: italic;
    font-size: small;
    color: #7B68EE;
    margin-bottom: 0;
}

a.page-link {
    color: #343A40;
    transition: ease;
    transition-duration: .5s;
}

a.page-link:hover {
    background-color: #efb5ff;
    color: #9400D3;
}

 #blog-post-nav-button {
     min-width: 6rem;
     display: flex;
     margin: auto;
     text-align: center;
     border-right: 1px dashed rgba(52,58,64,0.25);
     border-top: 1px dashed rgba(52,58,64,0.25);
     border-bottom: 0.1rem solid rgba(148,0,211,1);
     border-left: 1px dashed rgba(52,58,64,0.25);
     color: #343A40;
     transition: color .5s;
 }

 #blog-post-nav-button:hover {
    color: #9400D3;
 }

/* POST STUFF - END */
/* INTERVIEWS - START */
.card-img-top {
    height: 10rem;
    object-fit: cover;
    border-bottom: 1px dotted #7c7c7c;
}

.card {
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow:0 0 0.2rem 0.1rem #7B68EE;
}

.card-text {
    text-align: justify;
}

/* INTERVIEWS - END */
/* CARDS - START */

#card-title-id {
    transition: color;
    transition-duration: .5s;
}

#card-title-id:hover {
    color: #9400D3;
    text-decoration: none;
}

.card-img {
    max-height: 200px;
    max-width: 200px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.card-link-on-image {
    margin: auto;
    text-align: center;
    border: 5px #7B68EE;
    border-radius: 3px;
}

/* CARDS - END */