{% extends "../code-related/code-base.html"%}

{% block code_head %}
    <title>How (and where) do I even begin?</title>
{% endblock code_head %}


{% block code_body %}
    <div class="container-flex text-justify">
        <h1>How (and where) do I even begin?</h1>
        <p class="mt-3 mb-2">An absence of choice is sometimes better than having way too many good options. You're probably
        motivated by hype, by great career opportunities and by having a burning desire to have less people to talk to at work.
        But once you sit down to make a plan, everything suddenly becomes overwhelming. Developer?  Frontend? DevOps? Backend? Android or
        iOS? Software engineering?<br>Get used to it! Being confused and overwhelmed is gonna be your go-to state most of the
        time if you're ever motivated enough to stick to it. However, I do assure you that it's worth it and it's definitely doable.</p>
        <p class="my-3">Something here..</p>
        <p class="my-3">Then there's a <a href="/code/choose-your-language">link to choose your language.</a></p>
    </div>
{% endblock code_body %}
