{% extends "../code-related/code-base.html"%}

{% block code_head %}
    <title>HTML & CSS - Introduction Tutorial</title>
{% endblock code_head %}


{% block code_body %}
    <h1>HTML & CSS: Introduction</h1>
    <div class="container-flex text-justify">
        <p class="my-4">
            HTML and CSS go hand-in-hand as well as cereal and milk. While one (HTML) is essentially a markup language
            that is easy for humans to reproduce and comprehend, the other one (CSS) is a language for style sheets for
            describing a presentation of a certain document. CSS significantly improves the webdesign experience for both
            the programmer behind the page and the end user. This website uses CSS as well! Once you've got the hang of
            it, check out my website on <a href="http://github.com/ayy-em/somethingreally.fun">Github</a> to take a look
            at how CSS is used in the real world. Obviously, the HTML is there, too, however, it's not the easiest code
            to understand for a novice due to pythonic injections inside. You can always right-click and "View Page
            Source" though!
        </p>
        <h3 class="my-4">HTML</h3>
        <p>
            HTML is the foundation of web development, web design and, well, everything website-related.
            The language is extremely easy to grasp and is helpful to know even for non-tech people. But what is HTML?
            Over time, I've heard so many wrong explanations I decided to do something about it. Let's put it this way:
        </p>
        <ul>
            <li>HTML stands for HyperText Markup Language.</li>
            <li>HTML consists of a series of tags and elements which tell the browser how to display the content.</li>
            <li>Tags separate page contents into distinctive pieces for the browser to display.</li>
            <li>Instead of showing the tags, HTML uses them as an indication of how a certain element should look.</li>
            <li>HTML is NOT a programming language.</li>
        </ul>
        <p class="mt-2">
            Let's take a look at a very simple webpage and try to understand the structure.
        </p>
        <pre>
            <code><!---->
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Page Title&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;h1&gt;My First Heading&lt;/h1&gt;
&lt;p&gt;My first paragraph.&lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;</code>
        </pre>
        <div class="container-flex">
            Wow, the code piece actually works. I'll update it later.
        </div>
        <h3 class="mt-4">CSS</h3>
        <p class="my-3">Cascading Style Sheets (CSS) is a thingy.</p>
        <p class="mt-3 mb-5">That's it for now. I'll totally finish a bit later.</p>
    </div>
{% endblock code_body %}
