{% extends "../code-related/code-base.html"%}

{% block code_head %}
    <title>Java for total beginners</title>
{% endblock code_head %}


{% block code_body %}
    <h1>Java for total beginners: Intro</h1>
    <p class="mt-3 mb-2">Java! Not only an island, Java is still one of the most popular languages in the world.</p>
    <h3 class="mb-2">Guide</h3>
    <ul>
        <li><a href="/code/java/first-steps">Java - your first steps</a></li>
        <li>More to come...</li>
    </ul>
{% endblock code_body %}
