{% extends "../code-related/code-base.html"%}

{% block code_head %}
    <title>Python for total beginners</title>
{% endblock code_head %}


{% block code_body %}
    <h1>Python for total beginners: Intro</h1>
    <p class="mt-3 mb-2">Python! A huge snake and <a href="https://www.businessinsider.nl/most-popular-programming-languages-github-2019-11?international=true&r=US">2019's top-2 most popular programming language.</a>
        That's a great choice! Python is one of the most novice-friendly languages out there, there is a ton of learning
        materials available online and the demand for Python developers is growing every day. Besides, it's one of the
        languages I would recommend to people who are not going to make Python their career path, but rather looking to
        automate the boring parts of their work or just want to write something cool like a chatbot without spending
        years studying the intricacies of software development. Below, i'll provide a link to the guide I have on how to
        approach the journey to become a Python pro, a couple of helpful links and a collection of articles on Python I
        have on my website.</p>
    <h3 class="mb-2">Guide</h3>
    <ul>
        <li><a href="/code/python/first-steps">Python - your first steps</a></li>
        <li>More to come...</li>
    </ul>
{% endblock code_body %}
