{% extends "../code-related/code-base.html"%}

{% block code_head %}
    <title>SR.f - JavaScript for total beginners</title>
{% endblock code_head %}


{% block code_body %}
    <h1>JavaScript for total beginners: Intro</h1>
    <p class="mt-3 mb-2">So you wanna learn Javascript? That's pretty cool! I'm a pretty novice JS enthusiast myself,
    so I can share some knowledge that would be mostly useful for a beginner. While this part is in the making, take a
    look at the simple code snippets I have on the website:</p>
    <ul>
        <li><a href="/code/javascript/first-steps">Your first steps towards becoming a JS pro</a></li>
        <li><a href="/code/javascript/examples/js-clock">How to add a timer to your website</a></li>
        <li>More to come...</li>
    </ul>
{% endblock code_body %}
