{% extends "../code-related/code-base.html"%}

{% block code_head %}
    <title>Java for total beginners</title>
{% endblock code_head %}


{% block code_body %}
    <div class="container-flex my-2">
        <h1>Java for total beginners: Intro</h1>
        <p class="my-3">
            Java! Not only an island, Java is still one of the most popular programming languages in
            the world. It's still installed on over 3 billion devices and I'm still working on this page.
        </p>
        <h5>
            Here's what I have to help you out:
        </h5>
        <ul class="my-3">
            <li><a href="/code/java/first-steps">Java - your first steps</a></li>
            <li>More to come...</li>
        </ul>
        <p>
            Well, that's a start to this chapter.
        </p>
    </div>
{% endblock code_body %}
