{% extends "../code-related/code-base.html"%}

{% block code_head %}
    <title>JavaScript: First Steps & Where to start</title>
{% endblock code_head %}


{% block code_body %}
    <div class="container-flex">
        <h1 class="mb-3">JavaScript Guide: First Steps</h1>
        <p>This part is still under construction. Check back later - I'm updating it as fast as I can, I
        promise! And, well, you're always more than welcome to contribute to my website. That way, I will no longer
        have empty pages here!</p>
        <p>Oh, what a life that would be. A man can dream.</p>
    </div>
{% endblock code_body %}
