{% extends "../code-related/code-base.html"%}

{% block code_head %}
    <meta name="title" content="Python: First Steps for a Beginner">
    <meta name="description" content="Your first steps in your journey towards becoming a Python pro. Absolute beginner
    to smaller scale beginner in no time!">
    <title>Python: First Steps</title>
{% endblock code_head %}


{% block code_body %}
    <div class="container-flex text-justify">
        <h1><a id="pfs-home">Python Guide: First Steps</a></h1>
        <p class="mt-3">Starting out with a new (maybe even first?) programming language is a serious step forward.
        Don't worry though, using this guide will make the whole process waaay easier and faster. Let's go! Here is what
        our plan looks like:</p>
        <ul class="my-2">
            <li><a href="#basic-syntax">Basic Syntax</a></li>
            <li><a href="#variables-types">Variables and types</a></li>
            <li><a href="#lists">Lists (Kind of like arrays)</a></li>
            <li><a href="#operators">Basic operators</a></li>
            <li><a href="#string-formatting">String formatting</a></li>
            <li><a href="#loops">Loops</a></li>
        </ul>
        <p>
            Let's begin! Python is a pretty simple language with a very "human-readable" and straightforward syntax. Most
            of the words you will see mean exactly the thing they mean in English.
        </p>
        <h2><a class="anchorbaby" id="basic-syntax" href="#pfs-home">Basic Syntax</a></h2>
        <p>Texty text</p>
        <h2><a class="anchorbaby" id="variables-types" href="#pfs-home">Lists</a></h2>
        <p>Texty textoroni</p>
        <h2><a class="anchorbaby" id="lists" href="#pfs-home">Variables & Types</a></h2>
        <p>Text textooni textoroni textus</p>
        <h2><a class="anchorbaby" id="operators" href="#pfs-home">Basic Operators</a></h2>
        <p>Text Textovich</p>
        <h2><a class="anchorbaby" id="string-formatting" href="#pfs-home">String Formatting</a></h2>
        <p>Text McText, Jr</p>
        <h2><a class="anchorbaby" id="loops" href="#pfs-home">Loops and Flow</a></h2>
        <p>Sir Textington Textovarin</p>
        <p class="mt-2 mb-5">
            That should be it for now. If you want to continue learning, I suggest you to look at
            some of the <a href="/code/python/project-ideas">project ideas</a> I have on the website. From there on, just
            think of a simple project, start working on it and literally Google every single line of code you need. Through
            repetition and exploration you learn the basics, while thinking of a project architecture as a whole makes you
            better at the most important thing - thinking like a programmer, breaking down complex projects into blocks of
            very simple problems which can be easily tackled one by one. Once broken down, you just need to Google a sequence
            of one-liners, like "python write to csv" or "python 3 importing modules". Trust me, even experienced programmers
            sometimes spend most of their day just looking up stuff online, so learning to properly formulate your search
            queries is essential!<br><br>Overall, the whole journey to becoming a Python pro is massively overwhelming, but
            don't worry - with enough patience, this is going to be a walk in the park! Albeit, a quite long one...</p>
    </div>
{% endblock code_body %}
