{% extends "../code-related/code-base.html"%}

{% block code_head %}
    <title>Resources for coders: useful links, helpful guides and communities</title>
{% endblock code_head %}


{% block code_body %}
    <div class="container-flex" id="links-top-text">
        <h1>Useful Resources:<br>Guides, Communities and Tutorials</h1>
        <p class="mt-3 mb-2">Learning to code sure is an uphill battle. Lucikly, the web is full of resources that would
        help you out in no time. Here's a list of resources you should love and cherish.</p>
    </div>
    <div class="container-flex my-4">
        <!-- This is one card -->
        <div class="container-flex" id="links-card-website">
            <div class="row px-1 py-2">
                <div class="col-3 my-auto">
                    {% load static %}
                    <img id="link-card-pic" src="{% static '/blog/code/github.png' %}" alt="Github pic">
                </div>
                <div class="col-9 my-auto">
                    <a href="https://github.com/ayy-em">
                        <h3 class="links-card-name">Github</h3>
                    </a>
                    <p class="links-card-description pb-0">Github is world's largest community of developers and a global
                        company that provides hosting for software development version control using Git. From open
                        source collaborations to enterprise-scale projects, you can host and review code, manage
                        projects, and build software alongside 40 million developers.
                    </p>
                </div>
            </div>
        </div>
        <!-- End of one card -->
    </div>
{% endblock code_body %}
