{% extends "../code-related/code-base.html"%}

{% block code_head %}
    <title>Version Control & Git</title>
{% endblock code_head %}


{% block code_body %}
    <h1>Version Control for total beginners</h1>
    <p class="mt-3">Version control is a must-have tool in any coder's arsenal. What is it? Well, it's under
        construction now, so you'll find out later.
    </p>
    <p class="my-2">
        Here is how to unset the passowrd saved for the current user.
    </p>
    <p class="codeblock">git config --global --unset user.password</p>
    <p class="my-2">
        Wow, amazing stuff. I'll finish later
    </p>
{% endblock code_body %}
