{% extends "blog/blog-related/blog-base.html" %}
{% block main_head %}
    <title>Become a well-known writer</title>
{% endblock main_head %}

{% block main_blog_body %}
    <h1>Contribute to this website!</h1>
    <div class="container-flex mt-5">
        <p>Do you want to become famous? Or maybe have a cool idea in mind? <a href="/contact/" class="link-anywhere">Reach
            out to me</a> and I'll post your story while giving you the full credit. That way, when your friends ask you
            exactly why do you not do shit in life, you can always tell them it's just the way you, a recognized and
            published writer, are.
        </p>
        <p>
            I'm also always looking to expand on the <a href="/amsterdam/">Amsterdam</a> and <a href="/code/">coding</a>
            sections of the website. So you're always more than welcome to suggest a cool place you've discovered there
            or share a new amazing tutorial on Java you've been working on.
        </p>
        <p>
            Cheers!
        </p>
    </div>
{% endblock main_blog_body %}
