{% extends "blog/blog-related/blog-base.html" %}

{% block main_head %}
    <title>Interviews and other smart stuff</title>
{% endblock main_head %}

{% block main_blog_body %}
    <div class="container-flex mb-5">
        <div class="container-flex">
            <h1>Things I Had Comments About</h1>
            <p class="my-4">
                This section is a short compilation of various times I gave my "expert" opinion of things, all together in
                one place, so I can show this stuff to my grandmas and make them proud. Besides, it will be a nice place
                for me to sit at home and reminisce about the good old days when I was young and had opinions about things
                that people actually asked me for. Ah, I already feel nostalgic about the things that happened literally
                last week...
            </p>
        </div>
        <div class="card-deck my-3">
            <div class="card">
                <a href="https://ebcareercentre.uva.nl/news-and-inspiration/alumni-in-the-spotlight/ebcc-alumni-interviews/evgeny-mironov-an-education-at-any-university-is-exactly-what-you-make-of-it.html?1580375494781">
                    {% load static %}
                    <img class="card-img-top" src="{% static 'blog/blog-stuff/alumni.png' %}" alt="alumni in the spotlight">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-size: x-large">UvA: Alumni in the Spotlight</h5>
                        <hr id="interviewhrs">
                        <p class="card-text mb-2" style="color: #333333">A short interview I gave to University of Amsterdam's "Alumni in the Spotlight" section. I talk about education, data, research and my career goals. No idea why they picked me, but hurray, I guess?</p>
                        <hr id="interviewhrs">
                        <p class="card-text text-center my-0 py-0"><small class="text-muted">🇬🇧 - Posted 30.01.2020</small></p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://iz.ru/890190/anastasiia-chepovskaia/deshevo-i-derzko-pochemu-sotcialnaia-reklama-pytaetsia-zadet-i-oskorbit">
                    <img class="card-img-top" src="{% static 'blog/blog-stuff/izvestiya-story.png' %}" alt="Izvestiya">
                    <div class="card-body" style="height: available">
                        <h5 class="card-title text-center" style="font-size: x-large">Why are PSAs aiming to offend?</h5>
                        <hr id="interviewhrs">
                        <p class="card-text mb-2" style="color: #333333">An interview I gave to Izvestiya, one of Russia's biggest newspapers on the state of state-sponsored advertising. You know, like PSAs against smoking. Don't even ask why I have an expert opinion on this.</p>
                        <hr id="interviewhrs">
                        <p class="card-text text-center my-0 py-0"><small class="text-muted">🇷🇺 - Posted 20.06.2019</small></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="card-deck my-3">
            <div class="card">
                <a href="https://twitter.com/bunq/status/1209413503267856384">
                    <img class="card-img-top" src="{% static 'blog/blog-stuff/bunq-tc.png' %}" alt="bunq logo">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-size: x-large">What do bunqers do for Xmas?</h5>
                        <hr id="interviewhrs">
                        <p class="card-text mb-2" style="color: #333333">So I was walking down the office and Daniel caught me with
                            a camera ready for action. A sort of funny video where I look extremely confused. One of these
                            things where you think of an absolutely perfect and all-around funny thing to say four hours
                            later while commuting back home in the evening. Oh well, there's always next time</p>
                        <hr id="interviewhrs">
                        <p class="card-text text-center my-0 py-0"><small class="text-muted">🇬🇧 - Posted 24.12.2019</small></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="card-deck my-3">
            <div class="card">
                <a href="https://sun9-68.userapi.com/c4459/u2617679/4825442/y_9eeda141.jpg">
                    <img class="card-img-top" src="{% static 'blog/blog-stuff/utrechko.jpg' %}" alt="bunq logo">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-size: x-large">Win everything, get on TV</h5>
                        <hr id="interviewhrs">
                        <p class="card-text mb-2" style="color: #333333">So there was this time where I legit beat all pupils of
                            the same grade in Moscow (at an olympiad-style nerd contest) and they sent the winners to
                            speak about their experiences on TV. Well, I've lost the video (cuz Youtube wasn't exactly
                            a thing back then), but my grandma still has the tape!</p>
                        <hr id="interviewhrs">
                        <p class="card-text text-center my-0 py-0"><small class="text-muted">🇷🇺 - Posted ??.??.2002</small></p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.bunq.com/blog/why-bunq-is-the-company-for-me">
                    {% load static %}
                    <img class="card-img-top" src="{% static 'blog/blog-stuff/bunq-story.png' %}" alt="bunq logo">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-size: x-large">bunq: our way of doing things</h5>
                        <hr id="interviewhrs">
                        <p class="card-text mb-2" style="color: #333333">A short article I wrote for bunq, an Amsterdam-based
                            challenger bank, about the key differences between "corporate" and "start-up" culture. At
                            this point, I'm no longer mad at Olly for butchering my article by introducing a bunch of
                            "feel good" stuff because the original masterpiece I sent him was "too dark".</p>
                        <hr id="interviewhrs">
                        <p class="card-text text-center my-0 py-0"><small class="text-muted">🇬🇧 - Posted 22.11.2019</small></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock main_blog_body %}
