{% extends "blog/blog-related/blog-base.html" %}
{% block main_head %}
    <title>Become a well-known writer</title>
{% endblock main_head %}

{% block main_blog_body %}
    <h1>Contribute to SR.f!</h1>
    <br>
    <p>Want to become famous? Have a cool idea in mind? <a href="/contact/" class="link-anywhere">Reach out to me</a> and I'll post your story while giving you the full credit.</p>
    <p>That way, when your friends ask you exactly why do you not do shit in life, you can always tell them it's just the way you, a recognized and published writer, are.</p>
    <p>Cheers.</p>
{% endblock main_blog_body %}
