{% extends "blog/blog-related/blog-base.html" %}

{% block main_head %}
    <title>{{title}}</title>
{% endblock main_head %}

{% block main_blog_body %}

    <div class="container-flex">
        <h2 class="post-title">{{post.title}}</h2>
        <p class="post-subtitle mt-3">{{post.content | safe}}</p>
        <p class="post-meta mt-3" style="text-emphasis: #5b80b2">Posted by {{post.author}} on {{post.date_posted.day}}.{{post.date_posted.month}}.{{post.date_posted.year}}.</p>
    </div>
    <div class="container-flex my-5">
      <div class="row">
        <div class="col-sm mx-auto">
            <button type="button" class="btn btn-lg float-left" id="blog-post-nav-button"><p class="my-0 mx-auto">Previous</p></button>
        </div>
        <div class="col mx-auto">
          <a href="/blog/main">
              <button type="button" class="btn btn-lg" id="blog-post-nav-button" style="background: rgba(0,0,0,0.05)"><p class="my-0 mx-auto">Back2Blog</p></button>
          </a>
        </div>
        <div class="col-sm mr-auto">
            <button type="button" class="btn btn-lg float-right" id="blog-post-nav-button"><p class="my-0 mx-auto">Next</p></button>
        </div>
      </div>
    </div>

{% endblock main_blog_body %}