{% extends "blog/blog-related/blog-base.html" %}
{% block main_head %}
    <title>Let's read, alright</title>
{% endblock main_head %}

{% block main_blog_body %}
    <h1>Stories, Photos, Interviews</h1>
    <p class="mt-4">
        Check out my <a class="link-everywhere" href="/blog/main">new blog,</a> where I complain about various stuff.
    </p>
    <p>
        You can also take a look at some cool stuff <a class="link-everywhere" href="/blog/tg-stuff">I litter Telegram with.</a> Bots, channels and such.
        <!--p>Looking to learn something new? Take a look at <a class="link-everywhere" href="/crash-courses">the crash courses available.</a>
        There are courses on advertising, digital marketing, data analytics & data science and many more.
        You won't become a guru immediately, but you will get an idea of what the subjects actually represent to see if you like them or not.</p-->
        And code! There's quite some code and a lot of guides for beginners <a class="link-everywhere" href="/code">here.</a>
        Nothing too groundbreaking, but useful for newbies - I'd massively appreciate having a thing like this when starting out.
        Feel free to explore, comment and suggest stuff! If you feel like being a famous published writer, <a href="/blog/contribute" class="link-anywhere">
        contribute to the website by sending me a story</a> and I'll post it here.
    </p>
{% endblock main_blog_body %}
